body{
    background: linear-gradient(135deg,#667eea,#764ba2);
    font-family: Arial, sans-serif;
}

.container{
    width: 700px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
}

h1{
    text-align:center;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0 20px;
}

button{
    background:#667eea;
    color:white;
    border:none;
    padding:12px 20px;
    cursor:pointer;
}